<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--使用扫描机制，扫描控制器类,s使得注解生效-->
    <context:component-scan base-package="org.zzzzzz.controller"/>
    <context:component-scan base-package="org.zzzzzz.service"/>
    <context:component-scan base-package="org.zzzzzz.validator"/>
    <mvc:annotation-driven />

    <!--SpringMVC想从属性文件中获取错误信息，需要配置一个MessageSource Bean-->
    <bean id = "messageSource"
          class = "org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name = "basename" value="classpath:errorMessages"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="120"/>
    </bean>

    <!--因为使用了日期格式化转换器，所以需要注册日期格式化转换器-->
    <bean id = "conversionService"
          class = "org.springframework.format.support.FormattingConversionServiceFactoryBean">
    </bean>
    <mvc:annotation-driven conversion-service="conversionService"/>

    <!--配置视图解析器-->
    <bean class = "org.springframework.web.servlet.view.InternalResourceViewResolver" id = "internalResourceViewResolver">
        <!--前缀-->
        <property name = "prefix" value = "/WEB-INF/jsp/"/>
        <!--后缀-->
        <property name = "suffix" value = ".jsp"/>
    </bean>

</beans>

